<div>
	<div class="modal-header">
	    <h3>Add a new Resource</h3>
	</div>
	<div class="modal-body">
		<label for="resource">{resource}:</label>
		<div class="input-group">
		 <!--	<div class="input-group-btn">-->
			 <!--	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type <span class="caret"></span></button> -->
		<!--	 <div class="dropdown">
			 <button class="btn btn-primary dropdown-toggle" type="button" data-toogle="dropdown">Type<span class="caret"></span></button>
					<ul class="dropdown-menu">
				 		<li><a ng-model="resource.resource_name" value='github' href="#">Github</a></li>
						<li><a ng-model="resource.resource_name" value='slack' href="#">Slack</a></li>
				 		<li><a ng-model="resource.resource_name" value='trello'href="#">Trello</a></li>
				 		<li><a ng-model="resource.resource_name" value='evernote' href="#">Evernote</a></li>
				 		<li><a ng-model="resource.resource_name" value='asana' href="#">Asana</a></li>
						<li><a ng-model="resource.resource_name" value='bitbucket' href="#">Bitbucket</a></li>
						<li><a ng-model="resource.resource_name" value='blank' href="#">Blank</a></li>
			 		</ul>
				</div>
		 	</div>--><!-- /btn-group -->
		 	<input type="text" class="form-control" aria-label="..." ng-model="resource.resource_name">
	 		</div><!-- /input-group -->
			<br>
			<input type="text" class="form-control" id="resource" placeholder="title" ng-model="resource.resource_title">
			<br>
			<input type="text" class="form-control" placeholder="target definition" ng-model="resource.target_definition">
			<br>

  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="addnewresource(resource)" ng-click="$close()">OK</button>
      <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
  </div>
</div>
