<div class="page page-ui-buttons"  ng-controller="hackingCtrl" ng-init="refreshHackingZoneList()">
  <div class="page-wrap">
    <div class="row">
      <!-- sub-header -->
      <div class="row">
        <div class="col-md-2">
				    <a><h4 class="text-light text-bold" style="color:#fff">{ Resources }</h4></a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-2">
				    <a><h4 class="text-light text-bold" style="color:#fff">@ Members</h4></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"> <!--new resource -->
          <div class="panel panel-lined panel-hovered panel-stacked">
            <input type="text" class="form-control" aria-label="..." ng-model="resource.resource_name">
      	 		</div><!-- /input-group -->
      			<br>
      			<input type="text" class="form-control" id="resource" placeholder="title" ng-model="resource.resource_title">
      			<br>
      			<input type="text" class="form-control" placeholder="target definition" ng-model="resource.resource_target">
      			<br>
          </div>
        </div>
        <div class="col-md-6"> <!-- subheader -->
				  <div class="panel panel-lined panel-hovered panel-stacked"> <!-- mb20 -->
					  <div class="panel-body" style="padding: 0; margin: 5px 0">
						  <md-content style="height: 200px;">
                <section>
								<!--  <a  style="color: inherit" ng-click="openDialogResource()"> -->
								<!--<md-subheader class="md-primary"><a  style="color: inherit" ng-click="openDialogContributor()">+ add the email of your buddy</a></md-subheader>-->
								<md-list layout-padding>
									<md-list-item class="md-3-line" ng-repeat="message in contributorlist">
										<!--  alt="{{message.who}}" -->
										<!--<img ng-src="{{message.face}}" class="md-avatar circle">-->
										<div class="md-list-item-text">

											<!--  <h4>{{message.who}}</h4> -->

												<h3><div style="color: inherit" class="ion ion-android-delete"> &nbsp;&nbsp;{{message.user_buddy}}</div></h3>

										</div>
									</md-list-item>
								</md-list>
							  </section>
						  </md-content>
					</div>
				</div>
        <button class="btn btn-pink" style="width:100%" ng-click="openDialogContributor()">+ Add a Member</button>
			</div> <!-- #end sub-header -->
    </div>
    </div> <!--  #end row tag -->
    <!-- row -->
    <!-- tab orientations -->
    <div class="row">
      <a ng-click="openDialogResource()"><h4 class="text-light text-bold">+ Add resource</h4></a>
      <!-- variation one -->
      <div class="col-md-12 mb20">
        <!--<div class="page-tabs-lead mb20">
          <h4 class="text-light">Public Notes  &nbsp;&nbsp;<a style="font-size: 14px;font-weight: 500" ng-click="addnewtab()">+ add resource</a></h4>
        </div>-->
        <!-- panels sortables -->
        <div class="row" id="sortable">
          <div class="col-sm-6 col-md-4" ng-repeat="resourcePanel in resourcelist">
            <div class="panel panel-default">
              <div class="panel-body">
                <!--   media heading  -->
                <div class="media">
                  <div class="media-left">
                    <img class="media-object" src="{{resourcePanel.resource_logo}}" alt="..." style=" width: 35px; height: 35px;">
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{resourcePanel.resource_title}}
                      <div id="buttonPanel"  style=" width: 25px;height: 23px;float:right;cursor:pointer;" >-</div>
                      <!--<div id="buttonPanel"  ng-click="tohide == {{$index}}" style=" width: 25px;height: 23px;float:right;cursor:pointer;" >+</div>-->
                    </h4>
                  </div>
                </div>
                <div id="boxPanel">
                  <br>
                  <p>{{resourcePanel.resource_target}}</p>
                </div>
                <!-- end media heading -->
              </div>
            </div>
          </div>
        </div>
        <!-- end panels sortables -->
      <!--  <tabset class="tabs-vertical">
          <tab ng-repeat="tabs in notelist" heading="{{tabs.tab_name}}" ng-click="selectTab($index)">
            <div class="clearfix">
              <div class="panel panel-default panel-hovered panel-stacked mb20">

      						<form class="form-inline" role="form">
      							<div class="form-group">
      								<div class="input-group">
      									<span class="input-group-addon ion ion-compose"></span>
      									<input type="text" class="form-control" placeholder="Enter tab name here..." ng-model="tabs.tab_name">
      								</div>
      							  <textarea ng-model="tabs.tab_content" columns="1" style="height: 100%; min-height: 300px; width: 100%">{{tabs.tab_content}}</textarea>
      							</div>
      						</form>

      				</div>
              <button type="submit" class="btn btn-pink btn-sm" ng-click="updatetab(tabs)">Save</button>
              <div style="color: inherit" class="right ion ion-android-delete" ng-click="removetab(tabs._id)"></div>

            </div>
          </tab>
        </tabset> -->
      </div>
      <!-- #end variation one -->
    </div>
    <!-- #end row -->
    <script>

$(function() {
    $( "#sortable" ).sortable({
      revert: true
    });
    $( "#draggable" ).draggable({
      connectToSortable: "#sortable",
      helper: "clone",
      revert: "invalid"
    });
    $( "ul, li" ).disableSelection();
  });


/*  minimize */
$("#button").click(function(){
    if($(this).html() == "-"){
        $(this).html("+");
    }
    else{
        $(this).html("-");
    }
    $("#box").slideToggle();
});

/*  minimize */
$("#button2").click(function(){
    if($(this).html() == "-"){
        $(this).html("+");
    }
    else{
        $(this).html("-");
    }
    $("#box2").slideToggle();
});

  /// add new panel

  function myAdd() {
    //document.getElementById("demo").innerHTML = "Hello World";
    alert("working");
  }



  </script>

  </div>
</div>
