<div class="page page-email" ng-controller="projectListCtrl">

	<!--<ol class="breadcrumb breadcrumb-small">
		<li>Home</li>
		<li class="active"><a href="#/material">Choose a Project to Edit</a></li>
	</ol>-->


	<div class="page-wrap">
    <div class="row">
			<div class="col-md-3">
        <nav class="email-nav clearfix">
          <div class="xsmall nav-text-lead text-uppercase text-muted mb10">Project Settings</div>
          <ul class="list-unstyled navigation mb15">
            <li class="active"><a ng-click="update()" href="#/dashboard"><span class="ion ion-paper-airplane"></span>Update</a></li>
            <li><a ng-click="remove(project._id)" href="#/dashboard"><span class="ion ion-android-delete"></span>Delete</a></li>
          </ul>
        </nav>
      </div>


			      <!-- input form -->
			      <div class="col-md-9">
			        <div class="panel panel-lined panel-hovered panel-stacked mb20">
			          <!--<div class="panel-heading">Basic Usage</div>-->
			          <div class="panel-body" ng-controller="MdInputDemo">
			            <md-content md-theme="docs-dark" layout-padding>
			              <form name="userForm">
			              	<!-- title field -->
			      			<div>
			        			<label>proyect clasification:</label>
			        			<br><br>
			        			<div class="radio">
			          				<label>
			            				<input type="radio" name="optionsRadios" value="1" ng-model="project.classification" ng-vale="1">
			            					1. In progress and with opotunity to participate.
			          				</label>
			        			</div>
			        			<br>
			        			<div class="radio">
			          				<label>
			            				<input type="radio" name="optionsRadios" value="2" ng-model="project.classification" ng-vale="2">
			            					2. Finished but not mature and with opotunity to add your own work.
			          				</label>
			        			</div>
			        			<br>
			        			<div class="radio">
			          				<label>
			            				<input type="radio" name="optionsRadios" value="3" ng-model="project.classification" ng-vale="3">
			            					3. Finished and mature project, ready to use.
			          				</label>
			        			</div>

			      			</div>
									<br>
			                <div layout layout-sm="column">
			                  <md-input-container>
			                    <label>Title</label>
			                    <input ng-model="project.title" md-maxlength="50">
			                  </md-input-container>
			                </div>
			                <div layout layout-sm="column">
			                  <md-input-container style="width:80%">
			                    <label>Overview</label>
			                    <textarea ng-model="project.overview" columns="1" md-maxlength="150"></textarea> <!-- disable -->
			                  </md-input-container>
			                </div>
			                <div layout layout-sm="column">
			                  <md-input-container flex>
			                    <label>Content</label>
			                    <textarea ng-model="project.content" columns="1" md-maxlength="350"></textarea>
			                  </md-input-container>
			                </div>
											<div class="ui-radio ui-radio-pink">
												<label class="ui-radio-inline">
													<input type="radio" ng-model="project.price" value="none">
													<span>Not Rated</span>
												</label>
												<label class="ui-radio-inline">
													<input type="radio" ng-model="project.price" value="free">
													<span>Free</span>
												</label>
												<label class="ui-radio-inline">
													<input type="radio" ng-model="project.price" value="cost">
													<span>Price $:<input ng-model="project.price"></span>
												</label>
											</div>
			              </form>
			            </md-content>
			          </div>
			        </div>
			      </div> <!-- #col -->
    </div> <!-- row -->

  </div> <!-- #end page-wrap -->
</div>
